{% extends 'base.html.twig' %}
{% block body %}
    <div class="row" >
        {% if videos|length > 0  %}
            {% for video in videos %}
                <div class="card" style="width: 18rem; margin: 5px;">
                    <a href="{{ path('index_video_play', { video: video.id }) }}"  style="text-decoration: none">
                        <img class="card-img-top" src="{{ video.urlImage }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #000000">{{ video.title}}</h5>
                            <p class="card-text" style="color: #000000">{{ video.description }}</p>
                            <p class="card-text" style="color: #000000"><small class="text-muted">Número de reproducciones {{ video.reproductions }}</small></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
